html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

/* CSS Reset END */
* {
  font-family: Arial, Helvetica, sans-serif;
}
/* Nav */

#content {
  opacity: 0;
}

header{
  height: 55px;
  background-color: #e7717d;
}

nav {
  padding-top: 1.5em;
  color: white;

}

#content.content-is-active {
  opacity: 1 !important;
  transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}
.nav-list {
  display:flex;
  justify-content: space-around;
  list-style: none;
  font-size: 24px;
  height: 20px;
}

.nav-list li {
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.25s;
}

.nav-list li:hover {
  color:cornflowerblue;
  padding-bottom: 7px;
}

.selected-nav {
  color: cornflowerblue;
  cursor: default !important;
  transition: color 0.25s;
}
.selected-nav:hover{
  padding-bottom: 0px !important;
}

/* Main Page */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 646px;
}

.banner h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 52px;
}

.main-page-display{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 636px;
}

.main-page-display:nth-child(even){
  background-color: #afd275;
  color: white;
}

.main-page-display h3 {
  margin: 1em;
  font-size: 46px;
}
.main-page-display p {
  font-size: 32px;
}

/* MENU */

#menu {
  background-color: #afd275;
  color: white;
}

#menu h1 {
  text-align: center;
  padding-top: 4rem;
  font-size: 52px;
}

#menu section {
  padding: 5rem 25rem;
}

#menu section h2 {
  font-size: 42px;
}

#menu section:nth-child(odd){
  background-color: white;
  color: black;
}

#menu section div{
  padding: 2rem 0;
  font-size: 1.5em;
}

.center-page {
  margin: 0 auto;
}
.menu-item > *{
  margin: .5em 0;
}

.menu-item:nth-child(even) {
  text-align: right;
}

.menu-section{
  max-width: max-content;
}

.menu-section  h2{
  text-align: center;
}

/* CONTACT */

.contact-page {
  background-color: #afd275;
  color: white;
  display: flex;
  align-items: center;
  height: 92.5vh;
}

.contact-page * {
  padding-top: 1rem;
  font-size: 2rem;
}
.contact-page h1 {
  text-align: center;
}